# Implementation of List:
    
    1 Create Python Lists
    2 Mutable Lists
    3 Traverse a List
    4 Slice a List
    5 Insert Into a List
    6 Append to a List
    7 Sort a List
    8 Reverse a List
    9 Delete an Element
    10 Aggregate Functions
    11 Compare Lists
    12 Math Operations On Lists
    13 Lists and Strings
    14 Join a List
    15 Aliasing

# 1.Create Python List

In [2]:
mylist =[1, 2, 3, 4, 5]
print(mylist)

[1, 2, 3, 4, 5]

In [3]:
mylist1 = ['one', 'two', 'three', 'four']
print(mylist1)

['one', 'two', 'three', 'four']

In [4]:
# Add  the above two list
mylist2 = mylist + mylist1
print(mylist2)

[1, 2, 3, 4, 5, 'one', 'two', 'three', 'four']

# 2.Mutable Lists

Lists are mutable because items can be changed or reordered.

In [11]:
newlist =['one','two', 'three','four',' five']
print(newlist)

#we can chnage the third item like this.
newlist[2] = 'mango'

print(newlist)

['one', 'two', 'three', 'four', ' five']
['one', 'two', 'mango', 'four', ' five']

If the index is a negative number, it counts from the last element.

In [12]:
mylist = ['one', 'two', 'three', 'four', 'five']
 
elem = mylist[-1]
 
print(elem)

five

In [15]:
#find length of the list.
print('the length of the list')
print(len(mylist))

the length of the list
5

# 3.Traverse a List

In [16]:
mylist = ['one','two','three','four','five']

for ele in mylist:
    print(ele)

one
two
three
four
five

In [17]:
# add 5 all the element of the list

mylist =[1,2,3,4,5]
for i in range(len(mylist)):
    mylist[i]+=5
    
print(mylist)

[6, 7, 8, 9, 10]

The len() function is used to return the elements count, while the range() function returns the list of indices.
Keep in mind that, the nested list considered one element, regardless of how many elements inside it.

In [18]:
mylist = ['one', 20 , 5.5 , [10, 15], 'five']
 
print(len(mylist))

5

# 4.Slice a List

You can slice a list using 
If you remove the first number, the items start from the beginning. If you remove the second number, the items go to the end.

If you remove both numbers and remain the colon, the list will be copied.

In [26]:
mylist = ['one', 'two', 'three', 'four', 'five']
 
print(mylist[1:3])

['two', 'three']

In [19]:
mylist = ['one', 'two', 'three', 'four', 'five']
 
print(mylist[1:3])
 
print(mylist[1:])
 
print(mylist[:3])
 
print(mylist[:])

['two', 'three']
['two', 'three', 'four', 'five']
['one', 'two', 'three']
['one', 'two', 'three', 'four', 'five']

Since lists are mutable, you can change elements using the slice operator

In [27]:
mylist = ['one', 'two', 'three', 'four', 'five']
 
mylist[1:3] = ['Hello', 'Guys']
 
print(mylist)

['one', 'Hello', 'Guys', 'four', 'five']

# 5.Insert Into a List

In [28]:
#You can use the insert method to insert an element to the list like this:

mylist = [1, 2, 3, 4, 5]
 
mylist.insert(1,'Hello')
 
print(mylist)

[1, 'Hello', 2, 3, 4, 5]

# 6.Append to a List

In [29]:
mylist = ['one', 'two', 'three', 'four', 'five']

mylist.append('new one')
print(mylist)

['one', 'two', 'three', 'four', 'five', 'new one']

 You can append more than one element using extend method like this

In [31]:
mylist = ['one', 'two','three','four', 'five']
newlist = ['hi', 'rakesh']
mylist.extend(newlist)
print(mylist)

['one', 'two', 'three', 'four', 'five', 'hi', 'rakesh']

# 7.Sort a List

In [36]:
# to sort the list , use sort method
mylist = ['def','ghi', 'abc','jkl', 'mnop']

list2 = [4,7,8,4,2,1,3]

mylist.sort()
list2.sort()

print(mylist)
print(list2)

['abc', 'def', 'ghi', 'jkl', 'mnop']
[1, 2, 3, 4, 4, 7, 8]

# 8.Reverse the list

In [37]:
# To reverse the list we have to use reverse method

mylist = [1,3,5,6,7,8,9,11]
print(mylist)
mylist.reverse()
print('After reverse the list:')
print(mylist)

[1, 3, 5, 6, 7, 8, 9, 11]
After reverse the list:
[11, 9, 8, 7, 6, 5, 3, 1]

# 9.Delete of an element

You can delete an element by specifying the element index to the pop method like this:

In [45]:
mylist = ['one', 'two', 'three', 'four', 'five']
print(mylist)
mylist.pop(2)
print('after delete the list:')
print(mylist)

['one', 'two', 'three', 'four', 'five']
after delete the list:
['one', 'two', 'four', 'five']

 we can also delete the list useing remove method

In [47]:
mylist = ['one', 'two', 'three', 'four', 'five']
print(mylist)
mylist.remove('two')
print('after delete the list:')
print(mylist)

['one', 'two', 'three', 'four', 'five']
after delete the list:
['one', 'three', 'four', 'five']

# You can use the del operator to remove an element like this

In [49]:
mylist = ['one', 'two', 'three', 'four', 'five']
print(mylist)
del mylist[3]
print('after delete the list:')
print(mylist)

['one', 'two', 'three', 'four', 'five']
after delete the list:
['one', 'two', 'three', 'five']

In [50]:
# Also, you can delete multiple elements using slice operator like this

mylist = ['one', 'two', 'three', 'four', 'five']
print(mylist)
del mylist[1:3]
print('after delete the list:')
print(mylist)

['one', 'two', 'three', 'four', 'five']
after delete the list:
['one', 'four', 'five']

# 10.Aggregate Functions

In [52]:
# we can find max, min, len, sum etc

mylist = [1,4,5,7,8,11,12,23,34]
print('Max value of the list')
print(max(mylist))

print('Length value of the list')
print(len(mylist))

print('Min value of the list')
print(min(mylist))

print('Sum value of the list')
print(sum(mylist))

Max value of the list
34
Length value of the list
9
Min value of the list
1
Sum value of the list
105

# 11. Compare the list

you can compare elements of two lists:

In [56]:

mylist = ['one', 'two', 'three', 'four', 'five']
 
list2 = ['four', 'one', 'two', 'five', 'three']
 
if (mylist == list2):
 
    print("match")
 
else:
 
    print("No match")

No match

# 12.Math Operations On Lists

In [57]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

list3 = list1 + list2

print(list3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [59]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

print(list1 * 2)

[1, 2, 3, 4, 1, 2, 3, 4]

# Lists and Strings

To convert a string to separate characters, you can use the list function like this:

In [62]:
mystr = 'RkaeshMajumder'

mylist = list(mystr)
print(mylist)

['R', 'k', 'a', 'e', 's', 'h', 'M', 'a', 'j', 'u', 'm', 'd', 'e', 'r']

The list function is used to break a string into single letters as shown.

You can use the split method to split the text into words like this:

In [64]:
mystr = ' Welcome to pyhton world'

myword = mystr.split()
print(myword)

['Welcome', 'to', 'pyhton', 'world']

In [66]:
# you can also split the string like this.
mystr = "Welcome-to-python-world"
 
mylist = mystr.split('-')
 
print(mylist)

['Welcome', 'to', 'python', 'world']



# Join a List

The opposite process of splitting a string to a list of strings is to join them to make a string.

You join list elements to make one string using the join method like this:

In [69]:
myword = ['Welcome', 'to', 'python', 'world']
delimiter = ''
mystr = delimiter.join(myword)

print(mystr)

Welcometopythonworld

# Aliasing

When two variables referencing the same object like this:

In [71]:

mylist = ['Welcome', 'to', 'python', 'world']
 
list2 = mylist
 
list2[3] = "page"
 
print(mylist)

['Welcome', 'to', 'python', 'page']